@charset "UTF-8";
.img{background:url(../images/img.png)  no-repeat;background-size:129px 294px}
.plate_08{height:7px;width:7px;background-position:-56px -54px;}
.register_06{height:9px;width:10px;background-position:-56px -44px;}
.plate_04{height:10px;width:11px;background-position:-56px -33px;}
.plate_02{height:9px;width:11px;background-position:-56px -23px;}
.plate_03{height:10px;width:11px;background-position:-20px -97px;}
.forum_03{height:12px;width:12px;background-position:-20px -32px;}
.register_07{height:13px;width:13px;background-position:-56px -10px;}
.forum_01{height:15px;width:14px;background-position:-20px 0;}
.plate_05{height:12px;width:14px;background-position:-20px -45px;}
.plate_01{height:12px;width:14px;background-position:-20px -84px;}
.register_03{height:15px;width:14px;background-position:-41px -16px;}
.register_04{height:15px;width:14px;background-position:-41px -32px;}
.register_05{height:15px;width:14px;background-position:-41px -48px;}
.register_02{height:15px;width:14px;background-position:-41px 0;}
.plate_06{height:12px;width:14px;background-position:-20px -58px;}
.plate_07{height:12px;width:14px;background-position:-20px -71px;}
.register_01{height:9px;width:14px;background-position:-56px 0;}
.flt-center_03{height:19px;width:19px;background-position:0 -40px;}
.flt-center_02{height:19px;width:19px;background-position:0 -20px;}
.flt-center_04{height:19px;width:19px;background-position:0 -60px;}
.flt-center_08{height:19px;width:19px;background-position:0 -140px;}
.flt-center_06{height:19px;width:19px;background-position:0 -100px;}
.flt-center_05{height:19px;width:19px;background-position:0 -80px;}
.flt-center_07{height:19px;width:19px;background-position:0 -120px;}
.flt-center_01{height:19px;width:19px;background-position:0 0;}
.forum_02{height:15px;width:20px;background-position:-20px -16px;}
.index_06{height:16px;width:21px;background-position:-41px -64px;}
.flt-center_09{height:39px;width:39px;background-position:0 -160px;}
.flt-center_10{height:39px;width:39px;background-position:0 -200px;}
.index_04{height:58px;width:58px;background-position:-71px -177px;}
.index_02{height:58px;width:58px;background-position:-71px -59px;}
.index_03{height:58px;width:58px;background-position:-71px -118px;}
.index_05{height:58px;width:58px;background-position:-71px -236px;}
.index_01{height:58px;width:58px;background-position:-71px 0;}
.search{background:url(../images/search.png)  no-repeat;background-size:17px 41px}
.search-03{height:13px;width:17px;background-position:0 0;}
.search-02{height:13px;width:17px;background-position:0 -13px;}
.search-01{height:15px;width:17px;background-position:0 -26px;}
